h2,
h6{
    text-align: center;
    margin: 10px;
}

.nanogram{
    padding-top: 5vh;
    margin-left: 33vw;
    margin-bottom: 10px;
}

<<<<<<< HEAD
div.contextmenu {
    background: yellow;
  }

.black,
.red,
.green,
.blue,
.gray{
    height: 30px;
    width: 30px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
}

.black{
    background-color: #000000;
}

.red{
    background-color: #ff0000;
}

.green{
    background-color: #adff2f;
}

.blue{
    background-color: #40a3c4;
}

.gray{
    background-color: #bdb4b4;
=======
.lvl-2{
    margin-top: 15vh;
    margin-left: 15vh;
>>>>>>> 02f9c609ce49b2a74f2b1a257c082950c268e509
}


.black{
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #000;
}

.red{
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #ff0000;
}

.gray{
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #d8d8d8;
}

.green{
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #008000;
}

.blue{
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #13e6f5
}

.square{
    height: 30px;
    width: 30px;
    border: 1px solid;
    text-align: center;
<<<<<<< HEAD
=======
    padding-top: 3px;
>>>>>>> 02f9c609ce49b2a74f2b1a257c082950c268e509
    background-color: #fff;
}

.head{
    height: 100px;
<<<<<<< HEAD
    width: 30px;
=======
    width: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #fff;
>>>>>>> 02f9c609ce49b2a74f2b1a257c082950c268e509
}

.column{
    width: 100px;
<<<<<<< HEAD
    height: 30px;
}

.lvl{
    padding-top: 20px;
    width: 100px;
    height: 100px;
}

#hp{
    color: #48b648;
}

#map{
    height: 400px;
    width: 400px;
    margin: 20px;
}

.ranking-header{
    text-align: center;
}

table{
    height: 380px;
    width: 400px;
 border: 1px solid;   
}

tr{
    border: 1px solid;
}

th{
    text-align: center;
}

td{
    text-align: center;
}
=======
    height: 50px;
    border: 1px solid;
    text-align: center;
    padding-top: 3px;
    background-color: #fff;
}

.lvl{
     width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
    padding-top:
    20px;
}

.heart{
    color: #ff0000;
    margin: 5px;
}

span{
    color: #33dd33;
}

@media screen and (max-width: 650px) {
    
}
>>>>>>> 02f9c609ce49b2a74f2b1a257c082950c268e509
