@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200;1,400;1,600;1,700;1,900&family=Sriracha&display=swap");

/* -------------------------------------------------------------------general */
body,
html {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    overflow-y: hidden;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}


.inline {
    display: inline;
}

.block {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3, 
h4 {
    font-family: "Sriracha", cursive;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px;
}

.btn,
input,
textarea {
    font-family: "Sriracha", cursive;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 25px;
}

h5,
h6, 
p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li:hover {
    opacity: 1;
}

a {
    color: #fafafa;
}

a:hover {
    color: #e0d4d4;
}

.small {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 10px;
}

.center {
  text-align: center;
  margin: 0 auto;
}


.container-fluid{
    margin: 0 auto;
    padding-top: 25px;
    max-width: 90%;
    text-align: center;
}

div{
    border-radius: 8px;
}


header {
    min-height: 120px;
    margin: 0 auto;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.list-inline-item {
    margin-top: 0;
    padding-left: 0px;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
    font-size: 14px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 15px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family: "Sriracha", cursive;
    word-spacing: 4px;
}

.hvr-sweep-to-bottom:before {
    background: #00000033;
    height: 120px;
}

/* --------------------------------------------------------------------Colors */
body{
    background-color: #fafafa;
}

.ui-menu-color-nanogram,
.nanogram-footer
{
    background-color: #1982C4;
}

.ui-menu-color-rules,
.rules-footer{
    background-color:  #64882b;
}

.rules{
    background-color: #64882b;
    color: #fafafa;
}

.ui-menu-color-ranking,
.ranking-footer{
    background-color: #896BB3;
}


.black{
       background-color: #000; 
}

.red{
    background-color: #ff0000;
}

.gray{
    background-color: #d8d8d8;
}

.green{
    background-color: #3fa83f;
}

.blue{
    background-color: #13e6f5
}

.square{
    background-color: #fff;
}

#hp{
    color: #3fa83f;
}

/* -----------------------------------------------------Nanogram style */

#hint-btn{
    width: 90px;
    height: 70px;
    background-color: #64882b;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    color: #fafafa;
    padding-top: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

#hint-btn:hover{
    background-color: #6f9630;
}

#hint-note{
    margin-bottom: 15px;
}

.nanogram-rules{
    width: 100%;
    margin: 0 auto;
      padding-bottom: 15px;
    margin-bottom: 15px;

}

.nanogram{
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}


.black,
.red,
.green,
.blue,
.gray{
    height: 60px;
    width: 9%;
    border: 1px solid;
}



.head{
    height: 100px;
    width: 9%;
    border: 1px solid;
    font-weight: bold;
}

.column{
    width: 19%;
    height: 60px;
    border: 1px solid;
    font-weight: bold;
}



.lvl{
    padding-top: 20px;
    width: 19%;
    height: 100px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
}

.rules{
    border-radius: 1px;
        width: 36%;
    height: 60px;
    border: 1px solid;
    font-weight: bold;
}

.lvl-learn{
    padding-top: 20px;
    width: 36%;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
}

/* --------------------------------------------------------google map ranking*/

#map{
    height: 460px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ranking-header{
    text-align: center;
}

table{
    height: 460px;
    width: 90%;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

tr{
    border: 1px solid;
}

th{
    text-align: center;
    width: 150px;
}

td{
    text-align: center;
}

/* --------------------------------------------------------------------footer */

footer {
    color: #fafafa;
}

.footer-parts {
    margin: 0 auto;
    max-width: 80%;
}

.support-note {
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 17px;
}

.support-btn {
    border-radius: 50px;
    background-color: #FFBE0A;
    height: 60px;
    min-width: 120px;
    border-color: #967c35;
    margin: 0 auto;
    margin-top: 25px;
    bottom: 30px;
    font-size: 17px;
    display: flex;
  justify-content: center;
  align-items: center;
}


.btn-primary:hover {
    color: #fafafa;
    background-color:  #cc9600;
    border-color:  #b98b0b;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #CC9600;
    border-color:  #b98b0b;
}

.games{
    padding-right: 0;
    padding-left: 0;
}

.games-items,
.support-note{
    margin:0 auto;
    margin-top:32px;
    max-width: 80%;
}

.fa{
    font-size: 25px;
}


.social-links {
    margin: 0 auto;
}

.social-links li {
    padding-top: 20px;
    padding-right: 15px;
}


.social-links a i {
    width: 50px;
    height: 50px;
    padding: 15px 40px 15px 40px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: #fafafa;
}

.social-links li a i:hover {
    color: #e0d4d4;
}

.general-sub {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
}

.modal-header .close{
    margin-left: 0px;
}

.news{
    margin: 0 auto;
    text-align: center
}

small{
    text-align: center;
}

/* -----------------------------------------------------medias*/
@media only screen and (max-width: 350px){
    .social-links{
        padding-right: 20px;
        margin-left: -15px;
    }
    
    .menuitem span,
    .column,
    .head,
    .lvl,
    th,
    tr{
        font-size: 10px;
    }
    
    tr{
        font-weight: bold;
    }
    
    h3{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width:450px) and (max-width: 550px) {
    .social-links{
        padding-left: 25px;
    }
}

@media only screen and (min-width:551px) and (max-width: 750px) {
     .social-links{
         padding-left: 50px;
     }
}

@media only screen and (min-width:600px) and (max-width: 800px) {
    
.black,
.red,
.green,
.blue,
.gray,
.column{
    height: 50px;
}

.square{
    height: 50px;
    width: 9%;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}

.column{
    padding-top: 10px;
}
  
}

@media only screen and (min-width:801px) and (max-width: 1100px) {
.black,
.red,
.green,
.blue,
.gray,
.column,
.rules{
    height: 91px;
    font-size: 16px;
}

.lvl-learn,
.lvl{
    height: 100px;
    font-size: 20px;
}

.square{
    height: 91px;
    width: 9%;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}

.column{
    padding-top: 20px;
}

.menuitem span{
    font-size: 20px;
}

}

@media only screen and (min-width:1101px) and (max-width: 1500px) {
    
.black,
.red,
.green,
.blue,
.gray,
.column{
    height: 80px;
}

.square{
    height: 80px;
    width: 9%;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}

.column{
    padding-top: 30px;
}

.menuitem span{
    font-size: 20px;
}

.lvl,
.lvl-learn{
    font-size: 20px;
}

  
}

@media only screen and (min-width:1501px){
    
.nanogram{
    max-width: 70%;
}
    
.black,
.red,
.green,
.blue,
.gray,
.column{
    height: 85px;
}

.square{
    height: 85px;
    width: 9%;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}

.column{
padding-top: 30px;
font-size: 19px;
}

.lvl,
.lvl-learn{
    font-size: 20px;
}

.menuitem span{
    font-size: 20px;
}
  
}

@media only screen and (min-height:1150px){
    
.black,
.red,
.green,
.blue,
.gray,
.column{
    height: 90px;
}

.square{
    height: 90px;
    width: 9%;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}
}